<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" >

<head>

    <title>countries</title>
    <link rel = "stylesheet" th:href ="@{/css/cssFTW.css}">

</head>

<body>




<div class="main">



    <pre id="quote">"Countries"</pre>





<div th:each="country:${countries}">
    <ul>
        <a th:text="${country.countryName}">country 1</a><br>
      <!--  <a>country 2</a>
        <a>country 3</a>-->
    </ul></div>
    
      <form method="post" th:action="@{/addCountry}" th:object="${country}">

        <input type="text" name="countryName" th:text="${country.countryName}"> <br>
          

        <input type="submit" value="create">


    </form>






</div>
</body>

</html>
